.preorder .heading p {
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* swiper */
.swiper {
  position: relative;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preorder .swiper-slide {
  @apply !h-full
}

.preorder .swiper-pagination-bullet {
  width: 1.5rem;
  height: 0.25rem;
  background: #fff;
  opacity: 1;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.preorder .swiper-pagination-bullet {
  @apply w-6 h-1 bg-sky-400/40 rounded-lg cursor-pointer transition-all duration-300;
}

.preorder .swiper-pagination-bullet-active {
  @apply w-12 bg-sky-600;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply !text-2xl text-sky-600;
}

