@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  margin: auto;
  padding: 0 1.5rem;
  max-width: 85rem !important;
}
@media screen and (min-width: 640px) {
  .container {
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1620px !important;
    padding: 0 3.5rem;
  }
}
